._global {
    @import "../../../../../style/reset";
    
    @font-face {
        font-family: 'fit-select';
        src: url('./font/fit-select.eot');
        src: url('./font/fit-select.eot') format('embedded-opentype'),
        url('./font/fit-select.ttf') format('truetype'),
        url('./font/fit-select.woff') format('woff'),
        url('./font/fit-select.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="fit-select-"], [class*=" fit-select-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'fit-select' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .fit-select-drop:before {
        content: "\ea1c";
    }

}

& {
    @include reset;
    .input {
        cursor: pointer;
    }
    .chosen-drop {
        width: 100%;
        position: absolute;
        top: 38px;
        z-index: 10;
        background: white;
    }
    .chosen-results {
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid #ddd;
        border-top: none;
        max-height: 300px;
        overflow-y: auto;
    }
    &.simple {
        display: inline-block;
        margin: 0;
        .input {
            border-color: transparent;
        }
    }
    .search-input {
        margin: 0;
        .input {
            cursor: text;
        }
    }
    .fit-select-drop {
        color: #666;
        transition: all .2s;
        &.open {
            transform: rotate(180deg);
        }
    }
}

.flex-option-container {
    display: flex;
    .chosen-results {
        width: 0;
        flex-grow: 1;
    }
}